@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

.main-container {
    height: 100vh;
    width: 100%;
    background-color: #121212;
    color: #e0e0e0;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
}

select {
    background-color: gray;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 20px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.chart-div {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.chart-header {
    margin-bottom: 20px;
}

.chart-description {
    margin-top: 50px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
}

.chart-2-from {
    color: white;
    margin: 20px;
}

.chart-2-from input {
    border: none;
    border-radius: 15px;
    height: 20px;
    text-align: center;
}

.chart-2-to {
    color: white;
    margin: 20px;
}

.chart-2-to input {
    border: none;
    border-radius: 15px;
    height: 20px;
    text-align: center;
}

.submit-btn {
    margin: 20px;
    border: none;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    background-color: gray;
    color: white;
}

.submit-btn:hover {
    opacity: 0.6;
}