{% extends "index.html" %} {% block content %}

<div class="chart-div">
    <h1 class="chart-header">{{header}}</h1>
    <div class="chart-description">{{description}}</div>
</div>

<form method="POST">
    <div class="chart-2-from">
        <label for="From">From (Year):</label>
        <input type="number" name="from_year" />
    </div>
    <div class="chart-2-to">
        <label for="To">To (Year):</label>
        <input type="number" name="to_year" />
    </div>
    <div class="chart-2-to">
        <label for="To">Genre:</label>
        <input type="text" name="genre" />
    </div>
    <div>
        <input class="submit-btn" type="submit" />
    </div>
</form>

{% endblock %}
