<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href={{ url_for('static',
        filename='css/style.css') }}>
        <title>Home</title>
        {% endblock %}
    </head>
    <body>
        <div class="main-container">
            <nav>
                <h1>Fehintola, Sameer, Sushruth</h1>
                <h1>CSCI-4370 Term Project</h1>
                <div class="dropdown-select">
                    <select onChange="window.location.href=this.value">
                        <!-- <option value="1"><a href="/chart1">Query 1</a></option>
                        <option value="2">Query 2</option>
                        <option value="3">Query 3</option>
                        <option value="4">Query 4</option>
                        <option value="5">Query 5</option> -->
                        {% for option in options %}
                        <!-- <option>
                            <a href="{{ option.link }}">{{ option.label }}</a>
                        </option> -->
                        <option value="{{ option.link }}">
                            {{ option.label }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </nav>

            {% if (request.path == "/") %}
            <div class="home-container">
                <h1>Welcome to our Term Project.</h1>
                <br />
                <h1>
                    Please select a query from the dropdown menu in the top
                    left.
                </h1>
            </div>
            {% endif %} {% block content %} {% endblock %}
        </div>
    </body>
</html>
